.body{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:40Px;
    margin: auto;
    /* border: aqua;
    border-style: double;
    padding: unset; */
}